<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Server</title>
</head>

<body>
    <button onclick="MenuGames()">Server Menu Games</button>
    <button onclick="RentAccount()" ">Server Mượn Tài khoản</button>
    <script>
        function MenuGames() {
            window.alert("Vào Mượn Tài khoản ");
            window.location.href = "/menugames ";
        }
        function RentAccount() {
            window.alert("Vào Mượn Tài khoản ");
            window.location.href = "/rentacc ";
        }
    </script>
</body>

</html>