body {
    background-color: #1e1e1e;
}

.table {
    color: white;
}

div:hover {
    cursor: grab;
}

img {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    object-fit: cover;
    height: inherit;
    width: inherit;
}

.col1 {
    padding: inherit;
    height: 95px;
    background-color: transparent;
    border: 1px white solid;
    border-radius: 5px;
    transition: width 0.2s, height 0.2s, left 0.2s, top 0.2s;
    margin: 0.5cm;
}

.container {
    position: relative;
    text-align: center;
    color: white;
}

.text-items {
    font-weight: 500;
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: inherit;
    height: inherit;
    word-break: break-word;
}

.gridstrap-cell-visible {
    position: absolute !important;
    transition: width 0.2s, height 0.2s, left 0.2s, top 0.2s;
}

.gridstrap-cell-hidden {
    opacity: 0;
    pointer-events: none;
    touch-action: none;
    padding: 10px, 10px, 10px, 10px;
}

.gridstrap-cell-drag {
    transition: width 50ms, height 50ms, left 50ms, top 50ms;
    z-index: 10000;
}

.gridstrap-cell-resize {
    transition: width 50ms, height 50ms, left 50ms, top 50ms;
    z-index: 10000;
}

.gridstack-noncontiguous {
    opacity: 0;
}

.uploadOuter {
    text-align: center;
}

.uploadOuter strong {
    padding: 0 10px;
}

.dragBox {
    width: 250px;
    height: 100px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    font-weight: bold;
    line-height: 95px;
    color: #999;
    border: 2px dashed #ccc;
    display: inline-block;
    transition: transform 0.3s;
}

.dragBox input[type="file"] {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    top: 0;
    left: 0;
}

.draging {
    transform: scale(1.1);
}

#preview #preview-edit {
    text-align: center;
}

#preview img {
    max-width: 50%;
}

#preview-edit img {
    max-width: 50%;
}